.form-button {
  width: 100%;
  font-family: "Open Sans", "Arial", sans-serif;
  background-color: #5374ff;
  color: white;
  border: none;
}

.form-button:hover:not(.form-button_active) {
  background-color: #2d50fc;
}

.form-button_active {
  color: #ffffff;
  background-color: #0029ff;
  font-weight: bold;
}

